body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background: black;
  font-family: "Changa One", sans-serif;
}

#start {
  position: absolute;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

#gameInstructions {
  max-width: 600px;
  margin: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #666;
  line-height: 1.6;
  font-family: "Changa One", sans-serif;
}

#gameInstructions h2,
#gameInstructions h3 {
  color: #333; /* Dark text for headings */
}

#gameInstructions p,
#gameInstructions ul {
  color: #666; /* Slightly lighter text for body */
  line-height: 1.6; /* Line height for readability */
}

#gameInstructions ul {
  padding-left: 20px; /* Indent for list */
}

#startGameButton {
  padding: 10px 20px;
  font-size: 30px;
  font-family: "Changa One", sans-serif;
  color: white;
  background-color: #007bff;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 20px;
}

#startGameButton:hover {
  background-color: #0056b3; /* Darker shade on hover */
  color: #fff; /* Text color change on hover, if needed */
}

#gameOver {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(
    0,
    0,
    0,
    0.8
  ); /* Optional: Adds a semi-transparent overlay */
}

#gameOverText {
  font-size: 72px;
  color: white;
  -webkit-text-stroke: 3px black;
  margin-bottom: 20px;
}

#restartGameButton {
  /* transform: translate(-50%, -50%); */
  width: 20%;
  padding: 10px 20px;
  font-size: 30px;
  font-family: "Changa One", sans-serif;
  color: white;
  background-color: #007bff;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#backGameButton {
  width: 20%;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 30px;
  font-family: "Changa One", sans-serif;
  color: white;
  background-color: #f62b2b;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
